@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0 auto;
    font-family: 'Montserrat';
    scroll-behavior: smooth;
    background-color: #141414;
    overflow-x: hidden;
    /* background-image: url(../img/fondo.png);
    background-repeat: no-repeat;
    background-size: cover; */
}

/* Menú */

.burger {
    position: relative;
    width: 40px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    display: block;
}

.burger input {
    display: none;
}

.burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 115%;
    background: white;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
}

.burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
}

.burger span:nth-of-type(3) {
    top: 100%;
    transform: translateY(-100%);
    transform-origin: left center;
}

.burger input:checked~span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
}

.burger input:checked~span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
}

.burger input:checked~span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
}

.menu li {
    margin: 20px 0;
}

nav {
    display: none;
    flex-direction: column;
    width: 100%;
}

nav ul {
    flex-direction: column;
    width: 100%;
}

nav ul li {
    text-align: center;
    margin: 1em 0;
}

nav ul li a {
    width: 100%;
    display: block;
}

nav.open {
    display: flex;
}

.contain {
    position: relative;
    height: 100%;
    width: 100%;
}

#burgerLogo {
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 0;
    padding-inline: 5%;
}

.logo {
    width: 85px;
}

.logos {
    padding: 20px 0;
    padding-right: 9%;
}

.contain {
    display: flex;
    justify-content: space-between;
}

.menu a {
    padding: 0;
}

#headerMv {
    display: flex;
    justify-content: center;

}

header {
    background-color: rgb(0, 0, 0, 0.8);
    color: rgb(255, 255, 255);
    width: 100%;
    padding: 0rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    transition: 0.5s;
}

header.abajo {
    /* background-color: rgb(255, 255, 255); */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

header.abajo .burger span {
    background: black;
}

header.abajo ul li a {
    color: #000;
}

header.abajo span {
    color: #000;
}

.menu {
    top: 60px;
    left: 0;
    width: 100%;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu li {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.menu a {
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 15px 20px;
    transition: all 0.3s;
}

.menu div {
    display: block;
    padding: 6px 0px;
    cursor: pointer;
}

.menu img {
    width: 100px;
}

.menu a:hover {
    font-size: 1.2em;
}

/*Pelotas*/


.pelota1 {
    display: none;

}

.pelota2 {
    display: none;

}

/* Portada */



.portada {
    background-image: url(../img/portada.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding-top: 13%;
    padding-bottom: 11%;
    height: 50rem;
}

.content-portada {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


.content-portada h1 {
    margin: 0;
    font-size: 2.5em;
    max-width: 90%;
    line-height: 2.5rem;
}

.content-portada img {
    filter: grayscale(1);
    /* Aplica el filtro de escala de grises completo */
    object-fit: contain;


}

#fotosPortada {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

}

.foto-lonja {
    max-width: 50%;
    width: 20rem;
    top: 0;
    left: 0;
    z-index: 1;
    transform: translate(40%, 0%);
}

.foto-trabajando {
    width: 20rem;

    transform: translate(-10%, 30%);
    /* Para centrar la imagen */
    z-index: 2;
}


.bernadette {
    font-family: 'bernadette';
    font-weight: lighter;
}

.amarillo {
    color: #FFDC84;
}

#titulo {
    margin-block: 20%;
    margin-bottom: 10%;

}

#metodologiaSeccion {

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFDC84;

}


#p1 {
    font-size: 3em;
    font-family: 'Montserrat';

    text-transform: uppercase;
    text-align: center;
    background-color: #837042;
    color: transparent;
    text-shadow: 1px 1px 7.5px #FFDC84;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    margin: 0 auto;
    z-index: -100;
    width: 100%;

    filter: blur(1.7px);
}

#p2 {

    position: relative;
    display: flex;
    justify-content: center;
    top: -3.5rem;
    margin: 0;
    font-weight: 400;
    font-size: 3rem;
    color: #000000;
}

#seccionTextosMetodologia {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding-bottom: 8rem;

}

.articulo1,
.articulo2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.articulo1 h3,
.articulo2 h3 {
    margin-block: 0.5rem;
}

.articulo1 img,
.textoArticulo1,
.articulo2 img,
.textoArticulo2 {
    width: 100%;
}

.textoArticulo1,
.textoArticulo2 {
    text-align: justify;


}

.textoArticulo1 h4,
.textoArticulo2 h4 {
    font-size: 1.2rem;
    margin: 0;
    font-weight: normal;
}

.textoArticulo1 h3,
.textoArticulo2 h3 {
    font-weight: 400;
    margin-block: 1rem;
    font-size: 1.5rem;
    font-family: 'bernadette';
}

/*FOOTER*/

footer {
    background-color: #141414;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    font-size: 80%;
}

footer a {
    text-decoration: none;
    color: #fff;
}

#politicas {
    color: #fff;
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
}

#derechos {
    color: #fff;
    text-shadow: 0rem 0.2rem 0.2rem #0004;
    font-size: 144%;
    font-weight: 500;
}

#derechos span {

    color: #FFDC84;
}

/*SECCION CARROUSELL IMAGENES*/

#seccionCarrousellImagenes {
    background-color: #141414;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.carousel {
    overflow: hidden;
    width: 100%;



    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.carousel-track {
    width: 100%;
    display: flex;
    justify-content: center;
    animation: scroll 15s ease-in-out infinite;
    padding-block: 10rem;

}

.carousel-slide {
    min-width: 100%;
    /* Ajusta el ancho para tener en cuenta el gap */
    transition: transform 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    margin: 0 -7%;
}

.carousel-slide img {
    width: 80%;
    display: block;
}


@keyframes scroll {
    0% {
        transform: translateX(86%);
    }

    20% {
        transform: translateX(86%);
    }

    25% {
        transform: translateX(0%);
    }

    45% {
        transform: translateX(0%);
    }

    50% {
        transform: translateX(-86%);
    }

    70% {
        transform: translateX(-86%);
    }

    75% {
        transform: translateX(86%);
    }

    100% {
        transform: translateX(86%);
    }
}

/*SECCION CARROUSELL IMAGENES*/

/*SECCION INTEGRANTES*/

#seccionIntegrantes {
    background-color: #FFDC84;
}

/* Cartas */

.cards {
    width: 100%;
    padding-block: 4rem;
    padding-top: 0rem;

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.container-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-card h3 {
    font-weight: 400;
    font-size: 3rem;
    font-family: 'bernadette';
}

.cards a {
    text-decoration: none;
}

.card {
    width: 350px;
    height: 450px;
    border-radius: 20em;
    padding: 1.9rem;
    background: #dfdff5;
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: 0.4s ease-out;
    box-shadow: 0px 7px 20px rgba(43, 8, 37, 0.2);
}

.card-info {
    position: relative;
    z-index: 3;
    color: #f5f5f5;
    opacity: 0;
    transform: translateY(20%);
    transition: 0.5s;
    width: 350px;
    height: 62%;
    text-align: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease;
}

.text-title {
    font-size: 1.5rem;
    font-weight: 500;
}

.card-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
}

.card:hover {
    /* transform: translateY(5%); */
    background-color: rgb(0, 0, 0, 0.4);
}

.card:hover {
    opacity: 1;
}

.card:hover .card-info {
    opacity: 1;
    transform: translateY(0);
}

.card:hover .overlay {
    background-color: rgba(0, 0, 0, 0.7);
}

/*SECCION INTEGRANTES*/

#seccionTriangulos {
    display: flex;
    flex-direction: row;
}

.triangle1 {
    width: 170%;
    /*que ocupe el 100% de la pantalla en ancho*/
    height: 2rem;
    /*Altura del triangulo*/
    background-color: #141414;
    /* Cambia el color a tu gusto */
    clip-path: polygon(-10% -16%, 50% 100%, 104% 0%);
    /*
    1 y 2 parametro = vertice superior, el 1 de los dos es posicion ejeX
    2 eje Y

    3 y 4 parametro = vertice izquierdo, 3  es posicion eje X,  2 eje Y
    */
}

.triangle2 {
    width: 30%;
    /*que ocupe el 100% de la pantalla en ancho*/
    height: 1.5rem;
    /*Altura del triangulo*/
    background-color: #141414;
    /* Cambia el color a tu gusto */
    clip-path: polygon(-23% -10%, 100% 100%, 200% 0%);
    /*
    1 y 2 parametro = vertice superior, el 1 de los dos es posicion ejeX
    2 eje Y

    3 y 4 parametro = vertice izquierdo, 3  es posicion eje X,  2 eje Y
    */
}

@media only screen and (min-width:600px) {

    /*Pelotas*/
    .pelota2 {
        transform: translateY(-200%);
    }

    @keyframes movPelota1 {

        0%,
        100% {
            transform: translateY(50%);
        }

        50% {
            transform: translateY(40%);
        }

    }

    @keyframes movPelota2 {

        0%,
        100% {
            transform: translateY(-200%);
        }

        50% {
            transform: translateY(-190%);
        }

    }
}

@media only screen and (min-width:700px) {

    .content-portada h1 {

        margin-top: -2rem;
    }

    .foto-lonja {
        width: 16rem;
        transform: translate(50%, 0%);
    }

    .foto-trabajando {
        width: 18rem;
        transform: translate(-10%, 40%);

    }

    .portada {
        height: 45.9rem;
    }

    /*PRECIOS*/

    /*carrousell*/

    .content-carta h3 {
        font-size: 2.5rem;
    }

    #precios-cartas {

        width: 250%;
    }

    .carta {
        min-width: calc(62.5% / 3);
        max-width: calc(125% / 3);
    }

    /*carrousell*/


    #titulo {
        margin-block: 15%;
        margin-bottom: 5%;
        height: 10rem;

    }

    #p2 {
        top: -5rem;
    }

    #p1,
    #p2 {

        font-size: 4rem;
    }

    /*PRECIOS*/

}

@media only screen and (min-width:900px) {

    /*Pelotas*/
    .pelotaAmarilla {
        position: absolute;
        background: radial-gradient(circle at 30% 28%, #FFDC84, #807048 55%);
        border-radius: 50%;
    }

    .pelota1 {
        display: flex;
        width: 5rem;
        height: 5rem;
        animation: movPelota1 3s ease-in-out infinite;
        left: 5%;
    }

    .pelota2 {
        display: flex;
        width: 6rem;
        height: 6rem;
        transform: translateY(-150%);
        animation: movPelota2 3s ease-in-out infinite;
        left: 80%;
        animation-delay: 0.5s;
    }

    @keyframes movPelota1 {

        0%,
        100% {
            transform: translateY(50%);
        }

        50% {
            transform: translateY(40%);
        }

    }

    @keyframes movPelota2 {

        0%,
        100% {
            transform: translateY(-150%);
        }

        50% {
            transform: translateY(-140%);
        }

    }

    @keyframes movPelota2 {

        0%,
        100% {
            transform: translateY(-150%);
        }

        50% {
            transform: translateY(-140%);
        }

    }

    .content-portada h1 {

        width: 60%;
    }

    .textoArticulo1 h4,
    .textoArticulo2 h4 {
        font-size: 1.2rem;
        margin: 0;
    }

    .textoArticulo1 h3,
    .textoArticulo2 h3 {
        margin-block: 1.5rem;
        font-size: 1.5rem;
        font-family: 'bernadette';
    }


    /*METODOLOGIA*/

    #seccionTextosMetodologia {
        width: 80%;
        gap: 1rem;
    }

    .articulo1 {
        flex-direction: row;
        justify-content: center;
        gap: 5rem;


    }

    .articulo1 img,
    .articulo2 img {
        width: 40%;
    }

    .articulo2 {
        flex-direction: row-reverse;
        justify-content: center;
        gap: 5rem;


    }

    .textoArticulo2 {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }


    /*SECCION INTEGRANTES*/

    .cajaIntegrantes img {
        width: 100%;
        filter: grayscale(1);
    }
    .carousel-track img{
        filter: grayscale(1);
    }

    #bloqueIntegrantes {
        gap: 5rem;
    }

    .cajaIntegrantes h3 {
        font-size: 3rem;
    }

    /*SECCION INTEGRANTES*/

    /*METODOLOGIA*/






    /*METODOLOGIA*/



    /*PRECIOS*/

    /*carrousel*/



    /*carrousel*/

    /*PRECIOS*/

    #titulo {
        margin-block: 5%;
        margin-bottom: 2%;
        height: 13rem;

    }

    #p2 {
        top: -8rem;
    }

    #p1,
    #p2 {

        font-size: 6rem;
    }

    /*FOOTER*/
    footer {
        font-size: 100%;
    }

    #politicas {
        gap: 1rem;
    }

    #derechos {
        font-size: 155%;
    }

    /*FOOTER*/


    .burger {
        display: none;
    }

    .menu {
        display: flex;

    }

    .menu ul {
        display: flex;
        flex-direction: row;
    }

    header {
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 3%;
        font-size: 0.8em;
    }

    header section {
        display: flex;
        align-items: center;
        width: 90%;
    }

    #burgerLogo {
        padding-inline: 0;
    }

}

@media only screen and (min-width:1000px) {

    .content-portada h1 {

        margin-top: -3rem;
    }

    .foto-lonja {

        transform: translate(50%, 10%);
    }

    .foto-trabajando {

        transform: translate(-10%, 50%);

    }

    .portada {
        height: 42rem;
    }

    /*CARROUSELL IMAGENES*/
    .carousel-slide img {
        width: 60%;

    }

    .carousel-slide {
        margin: 0 -17%;
    }

    @keyframes scroll {
        0% {
            transform: translateX(66%);
        }

        20% {
            transform: translateX(66%);
        }

        25% {
            transform: translateX(0%);
        }

        45% {
            transform: translateX(0%);
        }

        50% {
            transform: translateX(-66%);
        }

        70% {
            transform: translateX(-66%);
        }

        75% {
            transform: translateX(66%);
        }

        100% {
            transform: translateX(66%);
        }
    }

    /*CARROUSELL IMAGENES*/


}



@media only screen and (min-width:1200px) {

    /*Pelotas*/

    .pelota2 {
        width: 6rem;
        height: 6rem;
        transform: translateY(160%);
        left: 45%;
    }


    @keyframes movPelota2 {

        0%,
        100% {
            transform: translateY(160%);
        }

        50% {
            transform: translateY(150%);
        }

    }

    /*SECCION INTEGRANTES*/

    .cajaIntegrantes img {
        width: 80%;
        filter: grayscale(1);
    }

    #bloqueIntegrantes {
        gap: 5rem;
    }

    .cajaIntegrantes h3 {
        font-size: 3rem;
    }

    /*SECCION INTEGRANTES*/


    /*CARROUSELL IMAGENES*/
    .carousel-slide img {
        width: 50%;
        display: block;
    }

    .carousel-slide {
        margin: 0 -23%;
    }


    @keyframes scroll {
        0% {
            transform: translateX(54%);
        }

        20% {
            transform: translateX(54%);
        }

        25% {
            transform: translateX(0%);
        }

        45% {
            transform: translateX(0%);
        }

        50% {
            transform: translateX(-54%);
        }

        70% {
            transform: translateX(-54%);
        }

        75% {
            transform: translateX(54%);
        }

        100% {
            transform: translateX(54%);
        }
    }

    /*CARROUSELL IMAGENES*/


    .content-portada {

        flex-direction: row;

    }

    .foto-lonja {
        width: 15rem;
        transform: translate(30%, 0%);
    }

    .foto-trabajando {
        width: 20rem;
        transform: translate(-30%, 30%);
        /* Para centrar la imagen */
        z-index: 2;
    }

    /*AGENCIA PORTADA*/

    /*PRECIOS*/

    /*carrousel desactivado*/
    .punto,
    .puntos {
        display: none;
    }

    #precios-cartas {
        justify-content: space-between;

        width: 100%;
    }

    .carta {
        width: 23%;
    }

    /*carrousel desactivado*/

    /*PRECIOS*/

    header {
        padding-inline: 4%;
        font-size: 1em;
    }

    .triangle1 {
        height: 4rem;
    }

    .triangle2 {
        height: 3rem;
    }

    .portada {
        height: 38.5rem;
    }

    .content-portada h1 {
        font-size: 3.5em;
        margin-bottom: 0;
        width: 100%;
        line-height: 4.3rem;
        margin-left: 5rem;
    }



    #cajaRobot {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        transform: translate(50%, -17%);
        position: absolute;
        width: 65rem;

        /* Ajusta según sea necesario */
        height: 45rem;
    }

    /* PROYECTOS DESTACADOS */

    #destacado {
        margin-block: 9rem;
    }

    #destacado h2 {
        position: absolute;
        transform: rotate(-90deg) translate(60%, -430%);
        margin: 0;
    }

    h2 {
        font-size: 5em;
    }

    h3 {
        font-size: 2em;
    }

    .proyectoDestacado {
        margin-left: 25%;
    }

}

@media only screen and (min-width:1300px) {

    .articulo1 img,
    .articulo2 img {
        width: 20%;
    }

    #cajaRobot {
        transform: translate(45%, -17%);
        width: 70rem;
        height: 45rem;
    }

    /*PROYECTOS DESTACADOS*/
    #destacado h2 {
        position: absolute;
        transform: rotate(-90deg) translate(57%, -390%);
        margin: 0;
    }

    h2 {
        font-size: 5.8rem;
    }

    h3 {
        font-size: 2.5rem;
    }

}

@media only screen and (min-width:1400px) {

    .portada {
        height: 34.8rem;
    }

    .content-portada h1 {
        font-size: 4rem;
        width: 100%;
    }


    /*SECCION INTEGRANTES*/

    .cajaIntegrantes img {
        width: 70%;
        filter: grayscale(1);
    }


    /*SECCION INTEGRANTES*/



    /*AGENCIA PORTADA*/


    .foto-lonja {
        width: 15rem;
        transform: translate(20%, 0%);
    }

    .foto-trabajando {
        width: 20rem;
        transform: translate(-40%, 30%);
        /* Para centrar la imagen */
        z-index: 2;
    }

    /*AGENCIA PORTADA*/

    /*PRECIOS*/

    #precios-cartas {
        justify-content: space-evenly;

    }

    .carta {
        width: 20%;
    }

    /*PRECIOS*/


    /*

    #cajaRobot {
        transform: translate(45%, -17%);
        width: 75rem;
        height: 45rem;
    }

    /*PROYECTOS DESTACADOS*/
    #destacado h2 {
        transform: rotate(-90deg) translate(58%, -430%);
    }

    h2 {
        font-size: 6rem;
    }

}

@media only screen and (min-width:1500px) {

    /*SECCION INTEGRANTES*/

    .cajaIntegrantes img {
        width: 60%;
        filter: grayscale(1);
    }

    #bloqueIntegrantes {
        gap: 0rem;
    }

    /*SECCION INTEGRANTES*/

    #cajaRobot {
        transform: translate(45%, -17%);
        width: 80rem;
        height: 45rem;
    }

    /*PROYECTOS DESTACADOS*/

    #destacado h2 {
        transform: rotate(-90deg) translate(58%, -435%);
    }

}

@media only screen and (min-width:1600px) {

    /*Pelotas*/

    .pelota2 {
        width: 6rem;
        height: 6rem;
        transform: translateY(160%);
        left: 35%;
    }

    @keyframes movPelota1 {

        0%,
        100% {
            transform: translateY(0%);
        }

        50% {
            transform: translateY(-10%);
        }

    }

    @keyframes movPelota2 {

        0%,
        100% {
            transform: translateY(160%);
        }

        50% {
            transform: translateY(150%);
        }

    }

    .content-portada h1 {

        width: 70%;
    }

    /*AGENCIA PORTADA*/

    .foto-lonja {
        width: 25rem;
        transform: translate(20%, 0%);
    }

    .foto-trabajando {
        width: 30rem;
        transform: translate(-40%, 30%);
        /* Para centrar la imagen */
        z-index: 2;
    }

    /*AGENCIA PORTADA*/

    #cajaRobot {
        transform: translate(45%, -17%);
        width: 85rem;
        height: 45rem;
    }

    /*PROYECTOS DESTACADOS*/

    #destacado h2 {
        transform: rotate(-90deg) translate(58%, -450%);
    }

}

@media only screen and (min-width:1700px) {
    .portada {
        height: 32rem;
    }

    #cajaRobot {
        width: 65rem;
        height: 45rem;
    }

    /*PROYECTOS DESTACADOS*/

    #destacado h2 {
        transform: rotate(-90deg) translate(88%, -465%);
    }

}

@media only screen and (min-width:1800px) {


    #cajaRobot {
        transform: translate(80%, -17%);
        width: 65rem;
        height: 45rem;
    }

    #destacado h2 {
        transform: rotate(-90deg) translate(58%, -505%);
    }

}

@media only screen and (min-width:1900px) {
    .portada {
        height: 30rem;
    }


    #destacado h2 {
        transform: rotate(-90deg) translate(58%, -535%);
    }

}