@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0 auto;
    font-family: 'Montserrat';
    scroll-behavior: smooth;
    background-color: #141414;
    overflow-x: hidden;
    /* background-image: url(../img/fondo.png);
    background-repeat: no-repeat;
    background-size: cover; */
}

/* Menú */

.burger {
    position: relative;
    width: 40px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    display: block;
}

.burger input {
    display: none;
}

.burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 115%;
    background: white;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
}

.burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
}

.burger span:nth-of-type(3) {
    top: 100%;
    transform: translateY(-100%);
    transform-origin: left center;
}

.burger input:checked~span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
}

.burger input:checked~span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
}

.burger input:checked~span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
}

.menu li {
    margin: 20px 0;
}

nav {
    display: none;
    flex-direction: column;
    width: 100%;
}

nav ul {
    flex-direction: column;
    width: 100%;
}

nav ul li {
    text-align: center;
    margin: 1em 0;
}

nav ul li a {
    width: 100%;
    display: block;
}

nav.open {
    display: flex;
}

.contain {
    position: relative;
    height: 100%;
    width: 100%;
}

#burgerLogo {
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 0;
    padding-inline: 5%;
}

.logo {
    width: 85px;
}

.logos {
    padding: 20px 0;
    padding-right: 9%;
}

.contain {
    display: flex;
    justify-content: space-between;
}

.menu a {
    padding: 0;
}

#headerMv {
    display: flex;
    justify-content: center;

}

header {
    background-color: rgb(0, 0, 0, 0.8);
    color: rgb(255, 255, 255);
    width: 100%;
    padding: 0rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    transition: 0.5s;
}

header.abajo {
    /* background-color: rgb(255, 255, 255); */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

header.abajo .burger span {
    background: black;
}

header.abajo ul li a {
    color: #000;
}

header.abajo span {
    color: #000;
}

.menu {
    top: 60px;
    left: 0;
    width: 100%;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu li {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.menu a {
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 15px 20px;
    transition: all 0.3s;
}

.menu div {
    display: block;
    padding: 6px 0px;
    cursor: pointer;
}

.menu img {
    width: 100px;
}

.menu a:hover {
    font-size: 1.2em;
}

/* Portada */

.portada {
    background-image: url(../img/portada.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding-top: 13%;
    padding-bottom: 11%;
    height: 100%;
  
}

.content-portada {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-portada h1 {
    font-size: 3em;
    max-width: 100%;

}

.content-portada img {
    filter: grayscale(1);
    /* Aplica el filtro de escala de grises completo */
    object-fit: contain;
}

#seccionPortadaDecorado {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#seccionPortadaDecorado h1 {
    margin: 0;
    line-height: 3.5rem;
    text-align: center;
    margin-top: 5rem;
}

#seccionPortadaDecorado span {
    color: #FFDC84;
    font-weight: 100;
}

#seccionPortadaDecorado h2 {
    font-size: 1.5rem;
    font-weight: 100;
    margin: 0rem;
    margin-bottom: 5rem;
}

#fotosPortadaContacto {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#formularioContacto {
    background-color: #141414;
    box-shadow: 0rem 0rem 1.5rem #0008;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    width: 80%;
    height: 100%;
    font-weight: 100;
}

.bloqueForm1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.cajaTexto {
    width: 100%;
}

.cajaTexto label,
.cajaTexto input,
.cajaTexto select {
    text-align: left;
    width: 2rem;
    width: 100%;
    padding: 0;
}

.cajaTexto input, .cajaTexto select{
    background: transparent;
    border: #fff solid 0.1rem;
    border-radius: 0.5rem;
    height: 2.5rem;
    color: #fff;
}
.cajaTexto select{
    height: 2.8rem;
}
.cajaTexto option{
    background: #141414;

    border-radius: 0.5rem;
    padding-block: 4rem;
    color: #fff;
}

.cajaTexto2 textarea {
    background: transparent;
    border: #fff solid 0.1rem;
    border-radius: 0.5rem;
    width: 100%;
    color: #fff;
    padding: 0;
}

.cajaTexto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.cajaTexto2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.foto1 {
    max-width: 50%;
    width: 25rem;

    z-index: 1;
    transform: translate(40%, 0%);
    display: none;
}

.foto2 {
    width: 20rem;
    transform: translate(-10%, 30%);
    z-index: 2;
    display: none;
}

.bernadette {
    font-family: 'bernadette';
    font-weight: lighter;
}

/*FOOTER*/

footer {
    background-color: #141414;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    font-size: 80%;
}

footer a {
    text-decoration: none;
    color: #fff;
}

#politicas {
    color: #fff;
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
}

#derechos {
    color: #fff;
    text-shadow: 0rem 0.2rem 0.2rem #0004;
    font-size: 149%;
    font-weight: 500;
}

#derechos span {

    color: #FFDC84;
}

/*FOOTER*/

/*Seccion baja Contacto*/

.foto3 {
    width: 50%;
    transform: translate(80%, -280%);
    filter: grayscale(1);
    position: absolute;

}


/*TRIANGLE*/

.triangle {

    width: 100%;
    /*que ocupe el 100% de la pantalla en ancho*/
    height: 30rem;
    /*Altura del triangulo*/
    background-color: #FFDC84;
    /* Cambia el color a tu gusto */
    clip-path: polygon(0% 0%, 0% 100%, 102% 100%, 70% 30%);
    /*
    1 y 2 parametro = vertice superior, el 1 de los dos es posicion ejeX
    2 eje Y

    3 y 4 parametro = vertice izquierdo, 3  es posicion eje X,  2 eje Y
    */
}

.triangle h3 {
    text-align: justify;
    font-size: 0.8rem;
    font-weight: normal;
    width: 60%;
    transform: translate(15%, 235%);
    margin-block: -3rem;
}

/*TRIANGLE*/



/*Seccion baja Contacto*/

@media only screen and (min-width:500px) {


    .triangle h3 {
        width: 60%;
        transform: translate(15%, 258%);
        margin-block: -1.5rem;
    }

}

@media only screen and (min-width:575px) {

    .foto3 {
        width: 50%;
        transform: translate(80%, -270%);
    }


}


@media only screen and (min-width:600px) {

    .foto3 {
        width: 50%;
        transform: translate(80%, -250%);
    }


    .triangle h3 {
        margin-block: -2rem;
        width: 65%;
        transform: translate(15%, 395%);
    }

}

@media only screen and (min-width:650px) {
    .foto3 {
        width: 50%;
        transform: translate(80%, -230%);
    }


}



@media only screen and (min-width:700px) {
    .foto3 {
        width: 50%;
        transform: translate(80%, -220%);
    }


    .triangle h3 {

        width: 60%;
        transform: translate(15%, 420%);
    }
}

@media only screen and (min-width:760px) {
    .foto3 {
        width: 40%;
        transform: translate(120%, -230%);
    }


}

@media only screen and (min-width:800px) {
    .foto3 {
        width: 40%;
        transform: translate(120%, -220%);
    }


    .triangle h3 {
        font-size: 0.9rem;
        width: 60%;
        transform: translate(15%, 350%);
    }
}

@media only screen and (min-width:900px) {

    /*Seccion contacto baja*/

    .foto3 {
        width: 40%;
        transform: translate(130%, -210%);
    }


    .triangle h3 {
        margin: 0;
        font-size: 0.95rem;
        width: 40%;
        transform: translate(15%, 130%);
    }

    /*Seccion contacto baja*/

    /*PORTADA CONTACTO*/

    .content-portada {

        flex-direction: row;

    }


    #seccionPortadaDecorado {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;

    }

    .portada {
        display: flex;
        justify-content: center;
    }

    .content-portada {
        justify-content: center;
        width: 90%;
    }

    #seccionPortadaDecorado h1 {
        margin: 0;
        line-height: 4rem;
        text-align: left;
    }

    #seccionPortadaDecorado span {
        color: #FFDC84;
        font-weight: 100;
    }

    #seccionPortadaDecorado h2 {
        font-size: 1rem;
        font-weight: 100;
        margin: 0rem;
        margin-bottom: 5rem;
    }


    .foto1 {
        display: flex;
        width: 18rem;
        transform: translate(75%, 0%);
        z-index: 2;
    }

    .foto2 {
        display: flex;
        width: 18rem;
        transform: translate(-65%, 30%);
        /* Para centrar la imagen */
        z-index: 1;
    }

    #formularioContacto {
        background-color: #141414;
        box-shadow: 0rem 0rem 1.5rem #0008;
        border-radius: 1rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2.5rem;
        padding: 2rem;
        width: 100%;
        height: 115%;
        font-weight: 100;
    }

    .bloqueForm1 {
        flex-direction: row;
        align-items: flex-end;
    }


    /*PORTADA CONTACTO*/

    .burger {
        display: none;
    }

    .menu {
        display: flex;

    }

    .menu ul {
        display: flex;
        flex-direction: row;
    }

    header {
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 3%;
        font-size: 0.8em;
    }

    header section {
        display: flex;
        align-items: center;
        width: 90%;
    }

    #burgerLogo {
        padding-inline: 0;
    }


    /*FOOTER*/
    footer {
        font-size: 100%;
    }

    #politicas {
        gap: 1rem;
    }

    #derechos {
        font-size: 159%;
    }

    /*FOOTER*/

}

@media only screen and (min-width:1000px) {


    /*Seccion contacto baja*/

    .foto3 {
        width: 40%;
        transform: translate(130%, -180%);
    }


    .triangle h3 {
        font-size: 0.95rem;
        margin-block: -2rem;
        width: 40%;
        transform: translate(14%, 160%);
    }

    /*Seccion contacto baja*/

    .foto1 {
        display: flex;
        width: 18rem;
        transform: translate(60%, 0%);
        z-index: 2;
    }

    .foto2 {
        display: flex;
        width: 18rem;
        transform: translate(-70%, 30%);
        /* Para centrar la imagen */
        z-index: 1;
    }

}

@media only screen and (min-width:1100px) {
    .triangle h3 {
        font-size: 0.95rem;
        margin-block: -1rem;
        width: 45%;
        transform: translate(8%, 210%);
    }

    .foto1 {
        display: flex;
        width: 14rem;
        transform: translate(65%, 0%);
        z-index: 2;
    }

    .foto2 {
        display: flex;
        width: 18rem;
        transform: translate(-80%, 30%);
        /* Para centrar la imagen */
        z-index: 1;
    }

    #seccionPortadaDecorado h1 {
        font-size: 4.2rem;
    }

    #seccionPortadaDecorado h2 {
        font-size: 1.12rem;
        margin-bottom: 2rem;
    }

}


@media only screen and (min-width:1200px) {

    /*Seccion contacto baja*/

    .foto3 {
        width: 35%;
        transform: translate(150%, -170%);
    }


    .triangle h3 {
        margin-block: -1rem;
        font-size: 1rem;
        width: 45%;
        transform: translate(8%, 225%);
    }

    /*Seccion contacto baja*/



    /*Contacto PORTADA*/

    .foto1 {
        display: flex;
        width: 14rem;
        transform: translate(65%, 0%);
        z-index: 2;
    }

    .foto2 {
        display: flex;
        width: 18rem;
        transform: translate(-80%, 30%);
        /* Para centrar la imagen */
        z-index: 1;
    }

    #seccionPortadaDecorado h1 {
        font-size: 4.8rem;
        line-height: 5rem;
    }

    #seccionPortadaDecorado h2 {
        font-size: 1.3rem;
        margin-bottom: 2rem;
        margin-top: 1rem;
    }

    #formularioContacto {
        width: 60rem;
    }

    .portada {
        margin-block: 5rem;
    }

    /*Contacto PORTADA*/






    /*Contacto PORTADA*/


    header {
        padding-inline: 4%;
        font-size: 1em;
    }

    .portada {
        height: 32rem;
    }

    .content-portada h1 {
        font-size: 6em;
        max-width: 50%;
    }


    .content-portada h1 {
        margin-left: 0%;
        width: 100%;
    }


    /* PROYECTOS DESTACADOS */


    h2 {
        font-size: 5em;
    }

    h3 {
        font-size: 2em;
    }

    .proyectoDestacado {
        margin-left: 25%;
    }

}

@media only screen and (min-width:1300px) {

    .triangle h3 {
        margin-block: -1rem;
        font-size: 1rem;
        width: 40%;
        transform: translate(15%, 235%);
    }

    /*Contacto PORTADA*/

    .portada {
        margin-block: 5rem;
        margin-top: 3rem;
    }


    .foto1 {
        display: flex;
        width: 16rem;
        transform: translate(70%, 0%);
        z-index: 2;
    }

    .foto2 {
        display: flex;
        width: 22rem;
        transform: translate(-73%, 30%);
        z-index: 1;
    }

    #seccionPortadaDecorado h1 {
        font-size: 4.8rem;
    }

    #seccionPortadaDecorado h2 {
        font-size: 1.3rem;
        margin-bottom: 2rem;
        margin-top: 1rem;
    }

    #formularioContacto {
        width: 60rem;
    }

    /*Contacto PORTADA*/
}

@media only screen and (min-width:1400px) {


    /*Seccion contacto baja*/

    .foto3 {
        width: 35%;
        transform: translate(120%, -180%);
    }


    .triangle h3 {
        font-size: 1.2rem;
        width: 30%;
        transform: translate(19%, 140%);
    }

    .triangle{
        height: 40rem;
        clip-path: polygon(0% 0%, 0% 100%, 102% 100%, 60% 30%);
    }

    

    /*Seccion contacto baja*/


    /*Contacto PORTADA*/

    .portada {
        margin-block: 5rem;
        margin-top: 3rem;
    }

    .foto1 {
        display: flex;
        width: 18rem;
        transform: translate(70%, 0%);
        z-index: 2;
    }

    .foto2 {
        display: flex;
        width: 22rem;
        transform: translate(-83%, 30%);
        z-index: 1;
    }

    #seccionPortadaDecorado h1 {
        font-size: 6rem;
        line-height: 7rem;
    }

    #seccionPortadaDecorado h2 {
        margin-bottom: 2rem;
        margin-top: 1rem;
    }

    #formularioContacto {
        width: 50rem;
    }

    /*Contacto PORTADA*/




    #destacado h2 {
        transform: rotate(-90deg) translate(58%, -430%);
    }

    h2 {
        font-size: 6rem;
    }

}

@media only screen and (min-width:1500px) {

    #seccionPortadaDecorado {
        justify-content: center;
    }

    .portada {
        margin-block: 5rem;
        margin-top: 1.5rem;
    }

}

@media only screen and (min-width:1600px) {
    .triangle h3 {

        width: 30%;
        transform: translate(19%, 160%);
    }

    #seccionPortadaDecorado {
        width: 40%;
        height: 90%;
        justify-content: flex-end;
    }

    #formularioContacto {
        width: 30rem;
    }

    .portada,
    .content-portada {
        justify-content: space-around;
        align-items: center;

    }

}

@media only screen and (min-width:1700px) {

    /*Seccion baja Contacto*/

    .foto3 {

        width: 30%;
        transform: translate(150%, -230%);
        filter: grayscale(1);
        position: absolute;

    }

    /*TRIANGLE*/

    .triangle {
        height: 60rem;
        clip-path: polygon(0% 0%, 0% 100%, 102% 100%, 60% 30%);
    }

    .triangle h3 {
        margin-block: -3rem;
        width: 35%;
        transform: translate(10%, 380%);
    }

    /*TRIANGLE*/



    /*Seccion baja Contacto*/
    .portada {
        margin: 0;
        margin-bottom: 15rem;
    }
}

@media only screen and (min-width:1800px) {}

@media only screen and (min-width:1900px) {}