@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0 auto;
    font-family: 'Montserrat';    
    scroll-behavior: smooth;
    background-color: #141414;                 
}

/* MENU */

.burger {
    position: relative;
    width: 40px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    display: block;
}

.burger input {
    display: none;
}

.burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 115%;
    background: white;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
}

.burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
}

.burger span:nth-of-type(3) {
    top: 100%;
    transform: translateY(-100%);
    transform-origin: left center;
}

.burger input:checked~span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
}

.burger input:checked~span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
}

.burger input:checked~span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
}

.menu li {
    margin: 20px 0;
}

nav {
    display: none;
    flex-direction: column;
    width: 100%;
}

nav ul {
    flex-direction: column;
    width: 100%;
}

nav ul li {
    text-align: center;
    margin: 1em 0;
}

nav ul li a {
    width: 100%;
    display: block;
}

nav.open {
    display: flex;
}

.contain {
    position: relative;
    height: 100%;
    width: 100%;
}

#burgerLogo {
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 0;
    padding-inline: 5%;
}

.logo {
    width: 85px;
}

.logos {
    padding: 20px 0;
    padding-right: 9%;
}

.contain {
    display: flex;
    justify-content: space-between;
}

.menu a {
    padding: 0;
}

#headerMv {
    display: flex;
    justify-content: center;

}

header {
    background-color: rgb(0, 0, 0, 0.8);
    color: rgb(255, 255, 255);
    width: 100%;
    padding: 0rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    transition: 0.5s;
}

header.abajo {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

header.abajo .burger span {
    background: black;
}

header.abajo ul li a {
    color: #000;
}

header.abajo span {
    color: #000;
}

.menu {
    top: 60px;
    left: 0;
    width: 100%;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu li {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.menu a {
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 15px 20px;
    transition: all 0.3s;
}

.menu div {
    display: block;
    padding: 6px 0px;
    cursor: pointer;
}

.menu img {
    width: 100px;
}

.menu a:hover {
    font-size: 1.2em;
}

/* PORTADA */

.portada-proyectos {
    background-image: url(../img/portada.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding-top: 54%;
    padding-bottom: 54%;
}

.content-portada-proyectos {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.content-portada-proyectos h1{
   font-size: 3em;
}

.bernadette {
    font-family: 'bernadette';
    font-weight: lighter;
}

.amarillo {
    color: #FFDC84;
}

/* PROYECTOS */

/* impares */

#proyecto{
    background-color: #FFDC84;        
}

#content-proyecto{
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin-left: 5%;
}

#content-proyecto img{
    width: 80%;
    margin-top: 3%;
}

#content-proyecto h2{
    width: 80%;
    margin-top: 7%;
    font-size: 0.8em;
    font-weight: normal;
}

.container-proyecto {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    border-radius: 10px;
}

.vertical-text {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 3em;
    margin-right: 4%;
    font-weight: bold;
}

.triangle1 {
    width: 100%;
    height: 7rem;
    background-color: #141414;
    clip-path: polygon(0% 0%, 100% -8%, 100% 100%);
}

/* pares */

#proyecto2{
    background-color: #141414;        
}

#content-proyecto2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: justify;
    margin-right: 6%;
}

#content-proyecto2 img{
    width: 80%;
    margin-top: 3%;
}

#content-proyecto2 h2{
    width: 80%;
    margin-top: 7%;
    color: #fff;
    font-size: 0.8em;
    font-weight: normal;
}

.container-proyecto2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    border-radius: 10px;
}

.vertical-text2 {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    font-size: 3em;
    margin-left: 3%;
    font-weight: bold;
    color: #FFDC84;
}

.triangle2 {
    width: 100%;
    height: 7rem;
    background-color: #141414;
    clip-path: polygon(0% 100%, 100% 0%, 100% 101%);
}

/*FOOTER*/

footer {
    background-color: #FFDC84;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    font-size: 80%;
}

footer a {
    text-decoration: none;
    color: #141414;
}

#politicas {
    color: #141414;
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
}

#derechos {
    color: #fff;
    text-shadow: 0rem 0.2rem 0.2rem #0004;
    font-size: 149%;
    font-weight: 500;
}

#derechos span {
    color: #141414;
}

@media only screen and (min-width:700px) {

    /* PORTADA */

    .portada-proyectos {
        padding-top: 44%;
        padding-bottom: 40%;
    }

    /* PROYECTOS */

    /* pares */

    .vertical-text {
        font-size: 4em;
    }

    /* impares */

    .vertical-text2 {
        font-size: 4em;
    }

    .triangle2 {
        margin-bottom: -1px;
    }

}

@media only screen and (min-width:900px) {

    /* MENU */

    .burger {
        display: none;
    }

    .menu {
        display: flex;
    }

    .menu ul {
        display: flex;
        flex-direction: row;
    }

    header {
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-inline: 4%;
        font-size: 1em;
    }

    header section {
        display: flex;
        align-items: center;
        width: 90%;
    }

    #burgerLogo {
        padding-inline: 0;
    }

    /* PORTADA */

    .content-portada-proyectos h1{
       font-size: 5em;
    }

    .portada-proyectos{
        padding-top: 19%;
        padding-bottom: 13%;
    }

    /* PROYECTOS */

    /* impares */

    #content-proyecto img{
        width: 70%;
    }

    #content-proyecto h2{
        width: 70%;
        margin-top: 5%;
    }

    .vertical-text {
        font-size: 9em;
    }

    .triangle1 {
        height: 14rem;
        clip-path: polygon(0% 0%, 100% -15%, 100% 100%);
    }

    /* pares */

    #content-proyecto2 img{
        width: 70%;
    }

    #content-proyecto2 h2{
        width: 70%;
        margin-top: 5%;
    }

    .vertical-text2 {
        font-size: 9em;
    }

    .triangle2 {
        width: 100%;
        height: 14rem;
        background-color: #141414;
        clip-path: polygon(0% 100%, 100% 0%, 100% 101%);
    }

    /* FOOTER */

    footer{
        font-size: 100%;
    }

    #politicas {
        gap: 1rem;
    }

}

@media only screen and (min-width:1000px) {

    /* PORTADA */

    .content-portada-proyectos h1 {
        font-size: 4em;
    }

    .portada-proyectos {
        padding-top: 30%;
        padding-bottom: 26%;
    }

    /* PROYECTOS */

    /* pares */

    .vertical-text {
        font-size: 6em;
    }

    #content-proyecto img {
        width: 80%;
    }

    #content-proyecto h2 {
        width: 80%;
    }

    /* impares */

    .vertical-text2 {
        font-size: 6em;
    }

    #content-proyecto2 img {
        width: 80%;
    }

    #content-proyecto2 h2 {
        width: 80%;
    }

}

@media only screen and (min-width:1400px) {

    /* PORTADA */

    .content-portada-proyectos h1{
        font-size: 5em;
    }
 
    .portada-proyectos{
        padding-top: 19%;
        padding-bottom: 17%;
    }

    /* PROYECTOS */

    /* pares */

    .vertical-text {
        font-size: 7em;
    }

    .triangle1 {
        clip-path: polygon(0% 0%, 100% -4%, 100% 100%); 
    }

    #content-proyecto h2{
        font-size: 1.4em;
    }

    /* impares */

    .vertical-text2 {
        font-size: 7em;
    }

    .triangle2 {
        clip-path: polygon(0% 100%, 100% 0%, 100% 116%);
    }

    #content-proyecto2 h2{
        font-size: 1.4em;
    }

}