@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0 auto;
    font-family: 'Montserrat';    
    scroll-behavior: smooth;
    background-color: #141414;                 
}

/* MENU */

.burger {
    position: relative;
    width: 40px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    display: block;
}

.burger input {
    display: none;
}

.burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 115%;
    background: white;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
}

.burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
}

.burger span:nth-of-type(3) {
    top: 100%;
    transform: translateY(-100%);
    transform-origin: left center;
}

.burger input:checked~span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
}

.burger input:checked~span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
}

.burger input:checked~span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
}

.menu li {
    margin: 20px 0;
}

nav {
    display: none;
    flex-direction: column;
    width: 100%;
}

nav ul {
    flex-direction: column;
    width: 100%;
}

nav ul li {
    text-align: center;
    margin: 1em 0;
}

nav ul li a {
    width: 100%;
    display: block;
}

nav.open {
    display: flex;
}

.contain {
    position: relative;
    height: 100%;
    width: 100%;
}

#burgerLogo {
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 0;
    padding-inline: 5%;
}

.logo {
    width: 85px;
}

.logos {
    padding: 20px 0;
    padding-right: 9%;
}

.contain {
    display: flex;
    justify-content: space-between;
}

.menu a {
    padding: 0;
}

#headerMv {
    display: flex;
    justify-content: center;

}

header {
    background-color: rgb(0, 0, 0, 0.8);
    color: rgb(255, 255, 255);
    width: 100%;
    padding: 0rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    transition: 0.5s;
}

header.abajo {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

header.abajo .burger span {
    background: black;
}

header.abajo ul li a {
    color: #000;
}

header.abajo span {
    color: #000;
}

.menu {
    top: 60px;
    left: 0;
    width: 100%;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu li {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.menu a {
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 15px 20px;
    transition: all 0.3s;
}

.menu div {
    display: block;
    padding: 6px 0px;
    cursor: pointer;
}

.menu img {
    width: 100px;
}

.menu a:hover {
    font-size: 1.2em;
}

/* PORTADA */

.portada-servicios {
    background-image: url(../img/portada.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding-top: 45%;
    padding-bottom: 0%;
}

.content-portada-servicios {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.content-portada-servicios h1{
    font-size: 2.5em;
}

.bernadette {
    font-family: 'bernadette';
    font-weight: lighter;
    color: black;
}

.amarillo {
    color: #FFDC84;
}

/* SERVICIOS */

/* pares */

#servicio1{
    background-color: #FFDC84;
    padding-bottom: 20px;
}

.container-servicio {
    padding: 40px;
}

.container-servicio h2{
    font-size: 2.5em;
    color: #fff;
    text-shadow: 0rem 0.2rem 0.2rem #0004;
    margin-top: 0;
}

.container-servicio h3{
    font-size: 0.8em;
    text-align: justify;
    font-weight: normal;
}
    
.circle {
    background-color: #FFDC84;
    height: 15rem;
    clip-path: circle(150% at 50% 300%);
}
    
/* impares */

.container-servicio2 {
    padding: 40px;
}

.container-servicio2 h2{
    font-size: 2.5em;
    color: #fff;
    text-shadow: 0rem 0.2rem 0.2rem #0004;
}

.container-servicio2 h3{
    font-size: 0.8em;
    color: #fff;
    text-align: justify;
    font-weight: normal;
}

.circle2 {
    background-color: #FFDC84;
    height: 13rem;
    clip-path: circle(150% at 50% 300%);
    transform: rotate(180deg);
}

/* Carrusel */

.carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carousel-images {
    display: flex;
    width: max-content;
    animation: scroll 90s linear infinite; 
}

.carousel-images a{
    width: 300px;
    padding: 0 40px;
  
}

.carousel-images img {
    width: 100%; 
    height: auto;
    transition: transform 0.5s ease; 

    box-shadow: 0.3rem 0.3rem 1rem #0005;
}
    
.carousel-images img:hover, .carousel-images2 img:hover {
    transform: scale(1.1); 
}




.carousel-images2 {
    display: flex;
    align-items: center;
    width: max-content;
    animation: scroll2 50s linear infinite; 
}

.carousel-images2 a{
    width: 100%;
    padding: 0 10rem;
    margin-inline:-15rem;
}

.carousel-images2 img {
    width: 20%; 
    height: auto;
    transition: transform 0.5s ease; 
}

    
@keyframes scroll2 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-66.7%);
    }
}


    
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-75%);
    }
}

/*PELOTAS*/

.pelota1 {
    display: none;
}

.pelota2 {
    display: none;
}

.pelota3 {
    display: none;
}

/*FOOTER*/

footer {
    background-color: #141414;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    font-size: 80%;
}

footer a {
    text-decoration: none;
    color: #fff;
}

#politicas {
    color: #fff;
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
}

#derechos {
    color: #fff;
    text-shadow: 0rem 0.2rem 0.2rem #0004;
    font-size: 149%;
    font-weight: 500;
}

#derechos span {
    color: #FFDC84;
}

@media only screen and (min-width:550px) {

    /* PORTADA */

    .portada-servicios {
        padding-bottom: 12%;
    }

    /* SERVICIOS */

    .circle {
        height: 16rem;
    }

    .circle2 {
        height: 16rem;
    }

}

@media only screen and (min-width:600px) {

    /* PORTADA */

    .portada-servicios {
        padding-bottom: 26%;
    }

    /* SERVICIOS */

    .circle {
        height: 18rem;
    }

    .circle2 {
        height: 18rem;
    }

}

@media only screen and (min-width:750px) {

    /* SERVICIOS */

    .circle {
        height: 24rem;
    }

    .circle2 {
        height: 21rem;
    }

}

@media only screen and (min-width:900px) {

    /* PORTADA */

    .portada-servicios {
        padding-bottom: 18%;
    }

    /* SERVICIOS */

    .circle {
        height: 22rem;
        clip-path: circle(200% at 50% 435%);
    }

    .circle2 {
        height: 21rem;
        clip-path: circle(200% at 50% 435%);
    }

    /* PELOTAS */

    /*Pelotas Negras*/

    .pelotaNegra {
        position: absolute;
        background: radial-gradient(circle at 30% 35%, #202020, #000 80%);
        border-radius: 50%;
    }
    
    .pelota1 {
        display: flex;
        width: 7.5rem;
        height: 7.5rem;
        animation: movPelota1 3s ease-in-out infinite;
        transform: translateY(230%);
        left: 73%;
    }
    
    .pelota2 {
        display: flex;
        width: 4rem;
        height: 4rem;
        animation: movPelota2 3s ease-in-out infinite;
        transform: translateY(230%);
        left: 55%;
    }

    .pelota3 {
        display: flex;
        width: 6rem;
        height: 6rem;
        animation: movPelota3 3s ease-in-out infinite;
        transform: translateY(230%);
        left: 25%;
    }

    @keyframes movPelota1 {

        0%,
        100% {
            transform: translateY(-30%);
        }
    
        50% {
            transform: translateY(-20%);
        }
    
    }
    
    @keyframes movPelota2 {
    
        0%,
        100% {
            transform: translateY(130%);
        }
    
        50% {
            transform: translateY(120%);
        }
    
    }

    @keyframes movPelota3 {

        0%,
        100% {
            transform: translateY(-50%);
        }

        50% {
            transform: translateY(-40%);
        }

    }

    /*Pelotas Amarillas*/

    .pelotaAmarilla {
        position: absolute;
        background: radial-gradient(circle at 30% 28%, #FFDC84, #807048 55%);
        border-radius: 50%;
    }

    /* FOOTER */

    footer{
        font-size: 100%;
    }

    #politicas {
        gap: 1rem;
    }

}

@media only screen and (min-width:1000px) {

    /* PORTADA */

    .portada-servicios {
        padding-top: 35%;
        padding-bottom: 25%;
    }

    /* SERVICIOS */

    .circle {
        clip-path: circle(200% at 50% 495%);
    }

    .circle2 {
        clip-path: circle(200% at 50% 490%);
    }

}

@media only screen and (min-width:1100px) {

    /* MENU */

    .burger {
        display: none;
    }

    .menu {
        display: flex;
    }

    .menu ul {
        display: flex;
        flex-direction: row;
    }

    header {
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-inline: 4%;
        font-size: 1em;
    }

    header section {
        display: flex;
        align-items: center;
        width: 90%;
    }

    #burgerLogo {
        padding-inline: 0;
    }

    /* PORTADA */

    .content-portada-servicios h1{
       font-size: 5em;
    }

    .portada-servicios{
        padding-top: 19%;
        padding-bottom: 13%;
    }

    /* SERVICIOS */

    /* pares */

    #servicio1{
        padding-bottom: 100px;
    }

    .container-servicio {
        padding: 100px;
    }

    .container-servicio h2{
        font-size: 4em;
    }

    .container-servicio h3{
        font-size: 1.5em;
    }

    .circle {
        clip-path: circle(205% at 50% 541%);
    }
    
    /* impares */

    #servicio2{
        padding-bottom: 100px;
    }

    .container-servicio2 {
        padding: 100px;
    }

    .container-servicio2 h2{
        font-size: 4em;
    }

    .container-servicio2 h3{
        font-size: 1.5em;
    }

    .circle2 {
        clip-path: circle(205% at 50% 541%);
    }

    /* Carrusel */

    .carousel-images a{
        width: 600px;
    }

    .carousel-images2 a{
        margin: 0;
        padding-inline: 6rem;
    }
    .carousel-images2 img{
        width: 50%;
    }


    /* PELOTAS */

    /*Pelotas Negras*/
    
    @keyframes movPelota2 {
    
        0%,
        100% {
            transform: translateY(350%);
        }
    
        50% {
            transform: translateY(340%);
        }
    
    }
    
}

@media only screen and (min-width:1250px) {

    /* SERVICIOS */

    .circle {
        clip-path: circle(205% at 50% 595%);
    }

    .circle2 {
        clip-path: circle(205% at 50% 625%);
    }

}

@media only screen and (min-width:1400px) {

    /* SERVICIOS */

    .circle {
        clip-path: circle(205% at 50% 650%);
    }

    .circle2 {
        clip-path: circle(205% at 50% 680%);
    }

}

@media only screen and (min-width:1550px) {

    /* SERVICIOS */

    .circle {
        clip-path: circle(205% at 50% 710%);
    }

    .circle2 {
        clip-path: circle(205% at 50% 740%);
    }

}

@media only screen and (min-width:1700px) {

    /* SERVICIOS */

    .circle {
        clip-path: circle(205% at 50% 765%);
    }

    .circle2 {
        clip-path: circle(205% at 50% 795%);
    }

}

@media only screen and (min-width:1840px) {

    /* SERVICIOS */

    .circle {
        clip-path: circle(205% at 50% 819%);
    }

    .circle2 {
        clip-path: circle(205% at 50% 848%);
    }

    .portada-servicios {
        height: 54vh;
    }

}

@media only screen and (min-width:2500px) {

    /* SERVICIOS */

    .circle {
        clip-path: circle(205% at 50% 1075%);
    }

    .circle2 {
        clip-path: circle(205% at 50% 1135%);
    }

}